<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>formation</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UniteManip</display-name>
		<servlet-name>UniteManip</servlet-name>
		<servlet-class>controllers.UniteManip</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MatiereManip</display-name>
		<servlet-name>MatiereManip</servlet-name>
		<servlet-class>controllers.MatiereManip</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginAdmin</display-name>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>controllers.LoginAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>KillSession</display-name>
		<servlet-name>KillSession</servlet-name>
		<servlet-class>controllers.KillSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UniteManip</servlet-name>
		<url-pattern>/UniteManip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatiereManip</servlet-name>
		<url-pattern>/MatiereManip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/LoginAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KillSession</servlet-name>
		<url-pattern>/KillSession</url-pattern>
	</servlet-mapping>

</web-app>